body {
    max-width: 1000px;
    margin: 0 auto;
}

.navigation { 
    li {
        float: right;
        list-style-type: none;
        display: block;
        padding: 8px;
        border-style: solid;
        border-bottom-color: orange;
        border-width: 0px 0px 4px 0px;
        }
    a {
    color: black;
    text-decoration: none;
    }
}

.name {
        width: 75px;
        border: 2px solid black;
        padding: 15px;
        margin: 25px;
        color: orange;
        @media (max-width: 527px) {
            margin: 15px;
        }
}

.image {
    .picture {
    position: relative;
    top: 0em;
    left: 6em;
    }
    h1 {
    position: relative;
    color: orange;
    bottom: 56px;
    left: 278px;
    @media (max-width: 527px) {
            text-align: left;
            left: 12px;
    }
}
}

.infoblock {
    height: 300px;
    width: 100%;
    margin: auto;
    background-color: lightgrey;
    block-size: inline;
    .about {
    width: 500px;
    float: left;
    margin-top: 30px;
    margin-left: 0em;
    text-align: right;
    @media (max-width: 527px) {
            text-align: center;
        }
}
.information {
    width: 400px;
    float: right;
    margin-top: 2em;
    margin-right: 2em;
    border: 3px solid black;
    padding: 30px 30px 30px 30px;
    background-color: white;
}
}
   .gallery {

        .football {
            clear: both;
            @media (max-width: 527px) {
                width: 792px;
            }

            img {
                width: 33%;
                height: 250px;
                
            }
        }
}


.bio {
        clear: both;
    .contain {
        float: left;
        width: 50%;
        margin-bottom: 5em;
        @media (max-width: 527px) {
            text-align: center;
        }
    }
}

.contact {
    padding-bottom: 70px;
    form {
        margin-left: 255px;
        @media (max-width: 527px) {
            margin-left: 10px;
        }
    .contain {
        float: left;
        width: 50%;
        margin-bottom: 5em;
        
    }  
}
}

input {
    height: 30px;
    width: 500px;
    display: block;
    margin-bottom: 15px;
    background-color: lightgrey;
    color: grey;
    float: center;
}

.comment {
    padding-top: 75px;
    padding-bottom: 75px;
    height: 30px;
}

button {
    background-color: orange;
    border-radius: 4%;
    border: none;
    color: white;
    padding: 10px 10px 10px 10px;
    margin-left: 459px;
}

.ending {
    text-align: center;
    .span {
        float: center;
    } 
    .img1 {
        width: 3%;
        margin-right: 1em;
        }
    .img2 {
        width: 3%;
        margin-left: 1em;
        }
}

.greet {
    text-align: center;
    }
